<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8" />
        <title>{{{title}}}</title>
        <link rel="stylesheet" href="/public/css/main.css" />
        <link rel="stylesheet" href="/css/all.min.css" />
        <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    </head>

    <body>
        <h1> {{{title}}} </h1>
        {{{body}}}
        <script src="/public/js/client_side_validation.js"></script>
    </body>

</html>