<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>{{title}}</title>
        <link rel="stylesheet" href="../../public/css/main.css" />
    </head>

    <body>
        {{{body}}}
        <script src="/public/js/client_side_validation.js"></script>
    </body>

</html>