<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <title>{{{title}}}</title>
        <link rel="stylesheet" href="/public/css/main.css">
    </head>

    <body>
        <h1> {{{title}}} </h1>
        {{{body}}}
        <script src="/public/js/client_side_validation.js"></script>
    </body>

</html>