<p>
    Album Pulse is a website created for all music lovers to discuss their favorite albums.
</p>

<div>
    <a href="/login"><button>Log In Here!</button></a>
</div>

<div>
    <a href="/register"><button>Register Here!</button></a>
</div>