<div id="about"> 
    <p>
        Album Pulse is a website created for all music lovers to discuss their favorite albums.
    </p>

    <div>
        <a href="/login">Log In Here!</a>
    </div>

    <div>
        <a href="/register">Register Here!</a>
    </div>

    <img src="public/static/images/betterlogo.png" alt="Image Not Available">
</div>