{{#if edit }}
    <form id="edit-form" method="POST">
        <label for="edit-ranking">Ranking</label>
        <input type="text" id="edit-ranking" name="edit-ranking"/><br>
        <label for="edit-review">Review</label>
        <input type="text" id="edit-review" name="edit-review"/><br>
        <button type="submit">Submit</button>
    </form>
{{else}}
    {{#if comment }}  
        <form id="comment-form" method="POST">
            <label for="comment">Comment</label>
            <input type="text" id="comment" name="comment"/><br>
            <button type="submit">Submit</button>
        </form>
    {{/if}}
{{/if}}