<!-- Most Frequent Albums Page: List of the albums that appear the most frequently, despite rankings. -->
<p>Most Frequently Ranked Albums on AlbumPulse:</p>
<ul class="most_frequent">
    {{#each mostFrequent}}
    <li><a href='/album/{{this.albumId}}'><strong>{{this.albumName}}</strong></a></li>
    {{/each}}
</ul>
<!--it should have the username itself in the url, not :username. update route or change this??-->
<a href="/user/:username">Back to user page</a>