<!-- Most Frequent Albums Page: List of the albums that appear the most frequently, despite rankings. -->
<p>Most Frequently Ranked Albums on AlbumPulse:</p>
<ul class="most_frequent">
    {{#each mostFrequent}}
    <li>{{this}}</li>
    {{/each}}
</ul>
