<strong>{{userRankings.albumName}}</strong></a>
        <p>Rating: {{userRankings.rating}}</p>
        {{#if userRankings.review_provided}}
          <p>Review: {{userRankings.review}}</p>
        {{else}}
          <p>No review provided</p>
        {{/if}}