<div class="container">

    <form id="registration-form" action="/register" method="POST">
        <label for="user"><b>Username: </b></label>
        <input type="text" placeholder="Enter Username" name="user" required />

        <label for="pass"><b>Password: </b></label>
        <input type="password" placeholder="Enter Password" name="pass" required />

        <label for="confirm-pass"><b>Confirm Password: </b></label>
        <input type="password" placeholder="Confirm Password" name="confirmPass" required />

        <!-- put other shit here for making an acc -->

        <button type="submit">Create Account</button>
    </form>
</div>
<div class="container">

    <a href="/login"> Already Have an Account? Log In </a>
</div>