<!-- Page for "Most popular albums based on rankings" right now --->

<p>Trending Albums on AlbumPulse:</p>
<ul class="top_ranked">
    {{#each topRanked}}
    <li>{{this}}</li>
    {{/each}}
</ul>
<!--it should have the username itself in the url, not :username. update route or change this??-->
<a href="/user/:username">Back to user page</a>