<p>{{{user}}}</p>
<form action="/ranking" method="Post">
    <button type="submit">View Rankings</button>
</form>
<form action="/trending" method="Get">
    <button type="submit">View Top Ranked Albums</button>
</form>
<form action="/frequent" method="Get">
    <button type="submit">View Most Frequently Ranked Albums</button>
</form>