<!--TODO: what route lines up to this? addRanking button doesn't work right now.'-->
<form action="/user/{{username}}/rankings" method="Get">
    <button type="submit">View Rankings</button>
</form>
<form action="/trending" method="Get">
    <button type="submit">View Top Ranked Albums</button>
</form>
<form action="/frequent" method="Get">
    <button type="submit">View Most Frequently Ranked Albums</button>
</form>
<form action="/albumsearch" method="Get">
    <button type="submit">Search for Album</button>
</form>

<a href="/logout">Click here to log out</a>